<section class="section about" id='about'>
    <div class="container">
        <div class="section-box">
            <div class="about-title" data-aos="fade-up">
         <div class="project-header">
  <span class="me-2" style="color: #64ffda; font-size: 20px; ">01.</span>
  <h2 class="me-4">About me</h2>
  <hr class="horizontal-line">
</div>
    </div>
           <div class="row">
  <div class="col-12 col-md-6 mb-2 mb-md-0">
    <div class="about-description">
      <p data-aos="fade-up" data-aos-duration="1000">
        Over <span class="underline">1 year as a full-stack developer</span>, I am dedicated to continuous learning  
        and growth, specializing in <span class="underline">frontend and backend development</span>  
        with modern technologies.
      </p>

      <p data-aos="fade-up">
        I have hands-on experience with <span class="underline"> Angular,JavaScript,Nodejs,Mongodb, </span>,  
        and have contributed to scalable applications by collaborating effectively,  
        optimizing performance, and streamlining workflows.
      </p>


      <p data-aos="fade-up">
        Some of the technologies I have worked with include:
      </p>
      <ul class="skills-list" data-aos="fade-up">
        <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Angular</span></li>
        <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">React</span></li>
        <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Node.js</span></li>
        <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">MongoDB</span></li>
        <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Git</span></li>
        <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Postman</span></li>
        <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Firebase</span></li>
        <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">TypeScript</span></li>
        <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">JavaScript</span></li>
        <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">C++</span></li>
        <li class="skill-element" data-aos="fade-up" data-aos-duration="1000">
          <span class="underline">Bootstrap</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-12 col-md-6 mt-4 mt-md-0 text-center" data-aos="fade-up" data-aos-duration="1000">
    <div class="about-img-container">
      <img width="300" height="300" src="assets/me.jpg" alt="Git User">
    </div>
  </div>
</div>
        </div>
    </div>
</section>