<footer class="footer"  data-aos="fade-up" data-aos-duration="1000">
  <div class="container footer-content text-center">
    <h6 class="section-number">05. What's Next</h6>
    <h1 class="footer-title">Get in touch!</h1>
    <p class="footer-description">
      I'd love to hear from you! Whether it's for a potential opportunity or just to say hello, feel free to get in touch.
      I'll do my best to respond as soon as possible.
    </p>

<div class="div-btn-banner mb-5 " style="margin-top:60px" data-aos="fade-right">
  <a href="mailto:ayushkaushal9090@gmail.com" class="custom-btn text-capitalize" data-aos="fade-right" data-aos-delay="200">
    Get in touch
  </a>
</div>

  </div>

  <div class="footer-credits text-center mt-5">
    <p>&copy; {{currentYear}}All rights reserved.</p>
    <p>Designed by AYUSH KAUSHAL </p>
  </div>
</footer>
