<div class="main-container">
  <section class="section banner">
    <div [@bannerTrigger] class="container">
      <div class="section-box-banner">
        <div class="content">
           <div 
            style="font-family: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console, Monaco, Monospace;"
            data-aos="fade-right"
            data-aos-delay="50"
          >
            <h1>Hello! My name is</h1>
          </div>

     <div class="banner-title text-capitalize" data-aos="fade-right" data-aos-delay="100">
    <h2>Ayush Kaushal.</h2>
    <h3 class="fw-bold">
        <span id="stack" class="animated-text"></span> Developer
    </h3>
</div>


<div class="banner-description" data-aos="fade-right" data-aos-delay="150">
  <p class="mt-5 custom-text-decoration">
    Passionate Full Stack Developer proficient in <span class="underline">Angular, React, JavaScript, MongoDB, Node.js, Express, and Bootstrap</span>,  
    with hands-on experience in building scalable and efficient web applications.  
    Successfully completed an internship at <span class="underline">Infowiz Software Solutions</span>, where I contributed to developing innovative solutions.  
  <span class="underline"> Currently exploring exciting job opportunities   </span> to apply my skills and drive impactful digital experiences.
  </p>
</div>


          <div class="div-btn-banner  " style = "margin-bottom: 200px;"data-aos="fade-right">
            <a href="mailto:ayushkaushal9090@gmail.com" class="custom-btn text-capitalize" data-aos="fade-right" data-aos-delay="200">
             Hire Me
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="about" class="sec" style="margin-top: 200px;">
    <app-about></app-about>
  </section>

  <section id="experience" style="margin-top: 300px;" class="sec">
    <app-experience></app-experience>
  </section>

  <section id="projects" style="margin-top: 370px;" class="sec">
    <app-projects></app-projects>
  </section>

  <section id="contact" class="sec">
    <app-contact></app-contact>
  </section>
</div>
