<div class="main-container">
  <section class="section banner">
    <div [@bannerTrigger] class="container">
      <div class="section-box-banner">
        <div class="content">
           <div
            style="font-family: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console, Monaco, Monospace;"
            data-aos="fade-right"
            data-aos-delay="50"
          >
            <h1>Hello! My name is</h1>
          </div>

          <div class="banner-title" data-aos="fade-right" data-aos-delay="100">
            <h2 class="text-capitalize">Ayush Kaushal.</h2>
            <h3 class="text-capitalize">MEAN developer</h3>
          </div>

          <div class="banner-description" data-aos="fade-right" data-aos-delay="150">
            <p class="mt-4 custom-text-decoration">
              Intern at <span class="underline">InfoWiz Pvt. Limited</span> developing systems, interfaces, and technological solutions to make the web a better place. I am dedicated to writing and refactoring clean, reusable, and scalable code in <span class="underline">Angular, JavaScript, TypeScript</span> applying good practices and development standards.
            </p>
          </div>

          <div class="div-btn-banner  " style = "margin-bottom: 150px;"data-aos="fade-right">
            <a href="mailto:ayushkaushal9090@gmail.com" class="custom-btn text-capitalize" data-aos="fade-right" data-aos-delay="200">
              Get in touch
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="about" class="sec" style="margin-top: 200px;">
    <app-about></app-about>
  </section>

  <section id="experience" style="margin-top: 300px;" class="sec">
    <app-experience></app-experience>
  </section>

  <section id="projects" style="margin-top: 370px;" class="sec">
    <app-projects></app-projects>
  </section>

  <section id="contact" class="sec">
    <app-contact></app-contact>
  </section>
</div>
